* {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
}

a {
    text-decoration: none;
}

body {
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

footer {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
}

footer p {
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

nav li {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul {
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: row;
}

#mainbody {
    display: flex;
    min-height: 200px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}